body{
    width: 100%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    background-color: rgba(214, 225, 202, 0.494);
    overflow-x:hidden;
}

.container_1{
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    border-color: rgba(0, 0, 0, 0.295);
}

.input_cl{
    color: rgb(255, 255, 255);
    width: 72%;
    height: 40px;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.905);
    border-style: double;
    border-color: rgba(0, 0, 0, 0.295);
    font-size: 20px;
    display: inline-block;
    font-family: 'Style Script', cursive;
    border-radius: 10px;
    padding-left: 1%;
}

.element{
	width: 20%;
    height: 60%;
	display: inline-flexbox;
    margin-top: 2%;
    /* float: left; */
	margin-left:3%;
}


.img-fluid{
    margin-left: 3.5%;
}

.btn{
    display: inline;
    margin-bottom: 1%;
    margin-left: 1%;
}
.giffy{
    font-weight: normal;
    font-family: 'Style Script', cursive;
    margin-left: 43%;
}